div[name='ordered-list']{
				font-size: 21px;
				font-family: Georgia;
			}

			div[name='unordered-list']{
				font-size: 21px;
				font-family: sans-serif;
			}

			body{
				background-color: gray;
			}